@use '../util/' as u;

h1,
h2,
h3 {
    font-family: 'Fraunces', Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    line-height: 1.1;
    
    span {
        display: inline-block;
    
        &::after {
        content:'';
        height: 2px;
        display: block;
        background-color: var(--color-green);
     }
    }
}
h1 {
 font-size:clamp(
    u.rem(50), 
    2.15rem + 4.13vw, 
    u.rem(80));
}

h2 {
    font-size: clamp(
    u.rem(32), 
    1.22rem + 3.31vw, 
    u.rem(56));
}

h3 {
    font-size: clamp(
        u.rem(28), 
        1.62rem + 0.55vw, u.rem(32));
}
